{% extends "bases/base.html" %}

{% block content %}
{% load staticfiles %}

    <div class="container-in"> <img src="{% static "images/container-bg.jpg" %}" width="940" height="327" alt="img" />
      <div class="read1">
        <div class="read1-img1"> <img src="{% static "images/read1-img.png" %}" width="32" height="30" alt="img" /> </div>
        <h3>Integrity</h3>
        <ul>
          <li>3x Data Replication</li>
          <li>No Data Compression</li>
          <li>No Data Removal</li>
          <li>Millisecond Resolution</li>
          <li>Zero Down Time</li>
          <li>Zero Node Failure</li>
          <li>Meta Data Storage</li>
        </ul>
        <a href="#">READ MORE</a> </div>
      <div class="read1">
        <div class="read1-img1"> <img src="{% static "images/read2-img.png" %}" width="32" height="32" alt="img" /> </div>
        <h3>Speed</h3>
        <ul>
          <li>Optimized for Time Series</li>
          <li>Scales Automatically with Your Data</li>
          <li>Constant Query Times</li>
          <li>Roll-Up Summaries</li>
          <li>Automatic Data Feeds</li>
          <li>Max Upload/Download Speeds</li>
          <li>Mobile Ready</li>
        </ul>
      <a href="#">READ MORE</a> </div>
      <div class="read1 last">
        <div class="read1-img1"> <img src="{% static "images/read3-img.png" %}" width="32" height="32" alt="img" /> </div>
        <h3>Analytics</h3>
        <ul>
          <li>Regression Models</li>
          <li>Forecasting Models</li>
          <li>Signal Processing</li>
          <li>Outlier Detection</li>
          <li>Correlation Analysis</li>
          <li>Programmable Analytics Interface</li>
          <li>User-Defined Analytics</li>
        </ul>
        <a href="#">READ MORE</a> </div>
      <div class="clear"></div>
      <div class="welcome">
        <h5>Welcome to our company</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque diam ligula, egestas eget rhoncus vel, hendrerit in sem. Vivamus laoreet era  sit amet ante ullamcorper vestibulum. Duis porta, nisl sed cursus volutpat, est nulla placerat mauris, id viverra leo ante sed leo. Vivamus fermentum dignissim sem, quis pellentesque dolor posuere vel. In vitae lorem ligula, a congue nibh. Lorem ipsum dolor sit amet.<a href="#">Read More</a></p>
      </div>
      <div class="bottom-cont1">
        <h6>Why choose us?</h6>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. </p>
      </div>
      <div class="bottom-cont1">
        <h6>Our services</h6>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#"> Aenean commodo ligula eget dolor</a></li>
          <li><a href="#">Cum sociis natoque penatibus</a></li>
          <li><a href="#">Nulla consequat massa quis enim</a></li>
          <li><a href="#">Donec pede justo, fringilla vel</a></li>
          <li><a href="#">Aliquet nec, vulputate eget, arcu.</a></li>
          <li><a href="#"> In enim justo, rhoncus ut, imperdiet </a></li>
          <li><a href="#"> Venenatis vitae justo</a></li>
        </ul>
      </div>
      <div class="bottom-cont1 last">
        <h6>Latest news</h6>
        <span> December 20, 2013</span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <span>December 16, 2013</span>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
      </div>
      <div class="clear"></div>
    </div>


{% endblock %}
